<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.health.READ_STEPS" />
  <uses-permission android:name="android.permission.health.READ_EXERCISE" />
  <uses-permission android:name="android.permission.health.READ_ACTIVE_CALORIES_BURNED" />
  <uses-permission android:name="android.permission.health.READ_DISTANCE" />
  <uses-permission android:name="android.permission.health.READ_HEART_RATE" />
  <uses-permission android:name="android.permission.health.READ_SLEEP" />
  <uses-permission android:name="android.permission.health.READ_WEIGHT" />
  <uses-permission android:name="android.permission.health.READ_BODY_FAT" />

  <queries>
    <package android:name="com.google.android.apps.healthdata" />
  </queries>

  <application>
    <activity
      android:name="expo.modules.healthsync.HealthPermissionsRationaleActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
      </intent-filter>
    </activity>
    <activity-alias
      android:name="expo.modules.healthsync.ViewHealthPermissionUsageActivity"
      android:exported="true"
      android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
      android:targetActivity="expo.modules.healthsync.HealthPermissionsRationaleActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
        <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
      </intent-filter>
    </activity-alias>
  </application>
</manifest>
